.section {
  margin-top: 3.2rem;
}

.h3 {
  text-align: center;
  font-size: 3.2rem;
  margin-bottom: 1.8rem;
}

.p {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}

.workouts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  row-gap: 3.2rem;
  align-items: center;
  justify-items: center;
}

.progressBar {
  font-size: 1.6rem;
  text-align: center;
  margin: 1.2rem;
}

.progressBar progress {
  width: 100%;
  max-width: 40rem;
  height: 1.4rem;
  display: block;
  margin: 0.8rem auto 0.4rem;
  border-radius: 999px;
  overflow: hidden;
}

.completedText {
  font-size: 2.2rem;
  text-align: center;
  margin: 2.4rem;
}
