.header {
  background-color: #212529;
  padding: 1.6rem 2.4rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  gap: 6.4rem;
}

.linkItem {
  font-size: 2.4rem;
  text-decoration: none;
  padding: 0.4rem 0.8rem;
  transition: all 0.3s;
  color: inherit;
}

.logo {
  width: 12.8rem;
  transition: opacity 0.2s ease;
}

.logo:hover {
  opacity: 0.8;
}

.active {
  color: #555;
}

.linkItem:hover {
  color: #ced4da;
}
