.formContainer {
  border: 2px solid #212529;
  border-radius: 44px;
  overflow: hidden;
  /* width: 70%; */
}

.p {
  font-size: 3.2rem;
  color: var(--text-color);
  background-color: #343a40;
  padding: 1.2rem 2.4rem;
}

.form {
  color: #212529;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2.4rem; */
  max-width: 64rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  row-gap: 2.4rem;
  column-gap: 2.4rem;
  padding: 2.4rem 3.6rem;
}

.form :focus-visible {
  outline: none;

  box-shadow: 0 0 0 3px rgba(52, 58, 64, 0.35), 0 8px 16px rgba(0, 0, 0, 0.15);
}

.label,
.input {
  font-size: 1.8rem;
}

.input {
  padding: 1.2rem 1.8rem;
  border: 1px solid #212529;
  border-radius: 9px;
  width: 100%;
}

.input::placeholder {
  font-style: italic;
}

.select {
  padding: 1.2rem 1.8rem;
  font-size: 1.8rem;
  border-radius: 9px;
  cursor: pointer;
}

.formItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.8rem;
  width: 100%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  grid-column: 1/-1;
  margin-top: 1.6rem;
}
