.card {
  width: 100%;
  max-width: 32rem;

  height: 100%;
  min-height: 18rem;

  border-radius: 11px;
  border: 2px dashed #adb5bd;
  background-color: transparent;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  gap: 1.2rem;

  cursor: pointer;
  transition: all 0.2s ease;
}

.card:hover {
  border-color: #495057;
  background-color: #dee2e6;
  transform: translateY(-2px);
}

.plus {
  font-size: 4.8rem;
  font-weight: 300;
  color: #495057;
  line-height: 1;
}

.text {
  font-size: 1.8rem;
  font-weight: 500;
  color: #495057;
}

.card:active {
  transform: scale(0.97);
}
