.tabPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  text-align: center;
  background-color: #ced4da;
  margin: 0 auto;
  width: 80%;

  padding: 4.8rem 3.2rem;

  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
}
